@import "src/theme/spacings";
@import "src/theme/colors";
@import "src/theme/mixins";
@import "src/theme/responsive";

.container {
  min-width: 580px;
  width: 40vw;
  padding: $space8;
  margin-bottom: $space8;
  border-radius: $radiiBoxes;
  background-color: $colorsecondaryLight;

  @include boxShadow;
  @include smRevertMedia {
    box-sizing: border-box;
    width: 100%;
    min-width: unset;
    margin: $space6 auto;
  }
}

.title {
  font-size: $fontSize5;
  margin-top: 0;

  @include smRevertMedia {
    margin: 0;
    margin-bottom: $space6;
  }
}
