@import "../theme/spacings";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space6;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $space3;
}
