@import "src/theme/spacings";
@import "src/theme/colors";
@import "src/theme/mixins";
@import "src/theme/responsive";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $space2;
}

.input {
  outline: none;
  border: none;
  padding: $space5;
  font-size: 1.1rem;
  background-color: $colorSecondary;
  border-top-right-radius: $radiiInputs;
  border-top-left-radius: $radiiInputs;
  border-bottom: 1px solid $colorPrimaryDarker;

  &:focus:not([type="range"]) {
    background-color: $colorSecondaryDark;

    @include boxShadow;
    @include transitionFastALl;
  }
  &:hover {
    border-bottom-color: $colorPrimaryDark;

    @include transitionFastALl;
  }

  &[type="range"] {
    @extend .rangeInput;
  }
}

.inputWithIcon {
  padding-right: $space9;
}

.icon {
  cursor: pointer;
  overflow: none;
  position: absolute;
  right: $space5;
  top: $space4;

  img,
  svg {
    @include square($space7);
  }

  &:hover {
    opacity: 0.8;

    @include transitionFastALl;
  }
  &:active {
    opacity: 0.6;

    @include transitionFastALl;
  }

  @include smRevertMedia {
    top: $space5;
  }
}

.label {
  font-size: $space6;
}

.rangeInput {
  -webkit-appearance: none;
  border: none;
  border-radius: $radiiInputs;
  margin: $space6 0;
  padding: 0;
  height: $space3;

  &:focus {
    &::-webkit-slider-thumb {
      @include boxShadow;
    }
  }

  &::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background: $colorPrimaryDarker;
    border-radius: $radiiRadio;
    margin-top: -4px;

    @include square($space5);
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    background: $colorPrimary;
    height: $space3;
    border-radius: $radiiInputs;
    &:hover {
      background: $colorPrimaryLight;
    }
  }
}
