@use "src/theme/spacings";
@use "src/theme/colors";
@use "src/theme/mixins";
@use "src/theme/responsive";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacings.$space2;
}

.input {
  outline: none;
  border: none;
  padding: spacings.$space4;
  font-size: 1.1rem;
  background-color: colors.$colorSecondary;
  border-top-right-radius: spacings.$radiiInputs;
  border-top-left-radius: spacings.$radiiInputs;
  border-bottom: 1px solid colors.$colorPrimaryDarker;
  e &:focus:not([type="range"]) {
    background-color: colors.$colorSecondaryDark;

    @include mixins.boxShadow;
    @include mixins.transitionFastALl;
  }
  &:hover {
    border-bottom-color: colors.$colorPrimaryDark;

    @include mixins.transitionFastALl;
  }

  &[type="range"] {
    @extend .rangeInput;
  }
}

.inputWithIcon {
  padding-right: spacings.$space8;
}

.icon {
  cursor: pointer;
  overflow: none;
  position: absolute;
  right: spacings.$space4;
  top: spacings.$space3;

  img,
  svg {
    @include mixins.square(spacings.$space6);
  }

  &:hover {
    opacity: 0.8;

    @include mixins.transitionFastALl;
  }
  &:active {
    opacity: 0.6;

    @include mixins.transitionFastALl;
  }

  @include responsive.smRevertMedia {
    top: spacings.$space4;
  }
}

.label {
  font-size: spacings.$space6;
}

.rangeInput {
  -webkit-appearance: none;
  border: none;
  border-radius: spacings.$radiiInputs;
  margin: spacings.$space6 0;
  padding: 0;
  height: spacings.$space3;

  &:focus {
    &::-webkit-slider-thumb {
      @include mixins.boxShadow;
    }
  }

  &::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    background: colors.$colorPrimaryDarker;
    border-radius: spacings.$radiiRadio;
    margin-top: -4px;

    @include mixins.square(spacings.$space5);
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    background: colors.$colorPrimary;
    height: spacings.$space3;
    border-radius: spacings.$radiiInputs;

    &:hover {
      background: colors.$colorPrimaryLight;
    }
  }
}
