@use "src/theme/spacings";
@use "src/theme/responsive";
@use "src/theme/colors";

.list {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: spacings.$space2;
  margin: 0;
  padding: spacings.$space8;
  list-style: none;
  text-align: center;
  border: 1px solid colors.$colorSecondaryDark;
  border-radius: spacings.$radiiBoxes;

  @include responsive.smRevertMedia {
    padding: spacings.$space6;
    margin: spacings.$space4;
  }
}
