@import "src/theme/colors";
@import "src/theme/spacings";
@import "src/theme/mixins";

.button {
  cursor: pointer;
  width: fit-content;
  padding: $space5;
  letter-spacing: $space1;
  border: none;
  border-radius: $radiiButtons;
  background-color: $colorPrimary;
  text-transform: uppercase;

  &.dense {
    padding: $space3;
  }

  &:hover {
    background-color: $colorPrimaryDark;

    @include boxShadow;
    @include transitionFastALl;
  }
  &:active {
    background-color: $colorPrimaryDarker;

    @include transitionFastALl;
  }
  &:disabled {
    cursor: initial;
    background-color: $colorSecondaryDarker;
    opacity: 0.6;
    box-shadow: none;
  }
}
