@use "src/theme/spacings";
@use "src/theme/colors";
@use "src/theme/responsive";

.container {
  position: fixed;
  display: flex;
  gap: spacings.$space4;
  max-width: 200px;
  width: fit-content;
  bottom: spacings.$space6;
  right: spacings.$space6;
  padding: spacings.$space5;
  font-size: spacings.$fontSize1;
  z-index: spacings.$zIndexToast;
  background-color: colors.$colorSecondaryDarker;
  color: white;
  border-radius: spacings.$radiiBoxes;

  @include responsive.smRevertMedia {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: none;
    border-radius: 0;
    justify-content: center;
  }
}

.success {
  background-color: colors.$colorSuccess;
}

.error {
  background-color: colors.$colorError;
}

.close {
  cursor: pointer;
  font-weight: bolder;
}
