$colorsecondaryLight: #fafafa;
$colorSecondary: #f5f5f5;
$colorSecondaryDark: #eeeeee;
$colorSecondaryDarker: #E0E0E0;
$colorPrimaryLight: #f0f4c3;
$colorPrimary: #e6ee9c;
$colorPrimaryDark: #cddc39;
$colorPrimaryDarkContrast: #9E9D24;
$colorSecondaryDarkContrast: #424242;
