// ----- SPACING -------
$space0: 0;
$space1: 1px;
$space2: 2px;
$space3: 0.25rem;
$space4: 0.5rem;
$space5: 0.75rem;
$space6: 1rem;
$space7: 1.5rem;
$space8: 2rem;
$space9: 2.5rem;
$space10: 2rem;
$space11: 3rem;
$space12: 8rem;
$space13: 16rem;
$space14: 32rem;

// ----- FONT SIZES -------
$fontSize0: 0.7rem;
$fontSize1: 0.8rem;
$fontSize2: 0.9rem;
$fontSize3: 1rem;
$fontSize4: 1.25rem;
$fontSize5: 1.5rem;
$fontSize6: 2rem;
$fontSize7: 2.5rem;
$fontSize8: 3rem;

// ----- RADII -------
$radiiInputs: 6px;
$radiiButtons: 3px;
$radiiBoxes: 12px;
