@use "sass:map";
@use "src/theme/breakpoints";
@use "src/theme/colors";
@use "src/theme/spacings";
@use "src/theme/responsive";

.container {
  position: relative;
  min-height: 100vh;
  top: 0;
  padding: spacings.$space6;
  text-align: center;
  box-sizing: border-box;
  background-color: colors.$colorSecondaryDark;

  @include responsive.smRevertMedia {
    padding: spacings.$space4;
  }
}

.header {
  font-size: spacings.$fontSize4;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: map.get(breakpoints.$breakpoints, "lg");
  font-size: calc(10px + 2vmin);
  color: black;
}
