@use "sass:map";
@import "src/theme/breakpoints";
@import "src/theme/colors";
@import "src/theme/spacings";
@import "src/theme/responsive";

.container {
  position: relative;
  min-height: 100vh;
  top: 0;
  padding: $space6;
  text-align: center;
  box-sizing: border-box;
  background-color: $colorSecondaryDark;

  @include smRevertMedia {
    padding: $space4;
  }
}

.header {
  font-size: $fontSize4;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: map.get($breakpoints, "lg");
  font-size: calc(10px + 2vmin);
  color: black;
}
